/* =============
    Base
============= */

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

.icons{
    width: 11%;
    padding-bottom: 16px;
}

.main-logo{
    width: 35%;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 16px;
}

.sponsors{
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid white;
    padding-bottom: 50px;
}

.early-bird{
    background-color: var(--black);
    width: 100%;
}

.vip{
    background-color: var(--dark-orange);
    width: 100%;
}