/* =============
    Base
============= */

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

.icons{
    width: 11%;
    padding-bottom: 16px;
}

.hero{
    width: 100%;
}

.main-logo{
    width: 35%;
    padding-bottom: 16px;
    padding-top: 16px;
}

.sponsors{
    width: 100%;
    padding-bottom: 50px;
}

.explore{
    background-color: #1D658B;
    padding-bottom: 18px;
    margin-bottom: 16px;
    margin-top: 16px;

}

.festival{
    background-color: #1D658B;
    color: var(--white);
    padding-left: 16px;
    padding-bottom: 18px;
    padding-top: 1px;
    margin-bottom: 16px;

    button{
        background-color: var(--magenta);
        color: var(--white);
    }
    
}

.early-bird{
    background-color: var(--dark-orange);
}

.vip{
    background-color: var(--black);
}

.search-button{
    background-color: var(--dark-blue);
    color: var(--light-blue);
}

.search-bar{
    padding-top: 16px;
    padding-bottom: 16px;
}