/* =============
    Base
============= */

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

.icons{
    width: 11%;
}

.hero{
    width: 100%;
}

.main-logo{
    width: 35%;
    padding-bottom: 16px;
    padding-top: 16px;
}

.sponsors{
    width: 100%;
    padding-bottom: 50px;
}

.explore{
    background-color: #1D658B;
    padding-bottom: 16px;

}

.festival{
    background-color: #1D658B;
    padding-left: 16px;
    padding-bottom: 16px;
}
