/* =============
    Footer
============= */

footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: #FD7522;

    @media screen {
        min-width: 390px;
    }

    >div{
        grid-area: footer;
        
        ul{
            margin: 0;
            padding: 0;
            display: grid;
            gap: 24px;

            li{
                list-style: none;
                padding-top: 50px;
                padding-bottom: 50px;
                text-align: center;
            }
        }
    }
}

