/* =============
    Header
============= */

header{
    @include md{
        padding: 24px 0;
    }

    @include xl{
        font-size: rem-calc(35);
    }

    #logo-nav{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo-nav .";
            >div{
                background-color: var(--dark-blue);
                grid-area: logo-nav;
            }
    }

    #search-bar{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";
        padding-top: 16px;
        padding-bottom: 16px;

        >div{
            grid-area: search;
            form{
                display: flex;

                input{
                    border: none;
                    border-bottom: 1px solid var(--black);
                    width: 100%;
                    border-radius: 0;
                    margin-right: 8px;
                    font-size: rem-calc(14);
                    color: var(--dark-blue);


                    @include md{
                        font-size: rem-calc(30);
                        font-weight: 300;
                    }

                    @include xl{
                        font-size: rem-calc(35);
                    }
                }

                button{
                    border: none;
                    background-color: var(--dark-blue);
                    border-radius: 5px;
                    padding: 16px 20px;
                    cursor: pointer;
                    transition: 0.25;

                    &:hover{
                        background-color: var(--dark-orange);
                        color: var(--white);
                    }
                }
            }
            
        }

    }

    nav{
        margin-left: auto;
        grid-template-columns: 50% auto;
        grid-template-areas: 
            "logo burger"
            "nav nav";
        align-content: center;
        text-align: center;
        ul{
            li{
                margin-top: 16px;
                a{
                    color: black;
                }
            }
        }
    }
}


    #logo{
        grid-area: logo;
    }

    #burger-container{
        grid-area: burger;
    }

    nav{
        grid-area: nav;
        
    }
