/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 0 auto 0;
    grid-template-areas: ". header .";

    @media screen {
        min-width: 390px;
    }

    @include md{
        grid-template-columns: 10% auto 10%;
    }
    >div{
        grid-area: header;
        text-align: center;
    }

    #logo-nav{
        background-color: #113849;
        img{

        }
    }

   #search-bar{
    padding-top: 16px;
    padding-bottom: 16px;
        form{
            input{
                button{

                }
            }
        }
    }
}