/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 0 auto 0;
    grid-template-areas: ". header .";

    @include md{
        grid-template-columns: 10% auto 10%;
    }

    @include xl{
        grid-template-columns: 16% auto 16%;
    }
    
    >div{
        grid-area: header;
        text-align: center;
    }

    #logo-nav{
        background-color: #113849;
        img{

        }
    }

    button{
        cursor: pointer;
    }
}