/* =============
    Header
============= */

header{
    @include md{
        grid-template-columns: 10% auto 10%;
    }

    @include xl{
        grid-template-columns: 16% auto 16%;
    }

    #logo-nav{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo-nav .";
            >div{
                background-color: var(--dark-blue);
                grid-area: logo-nav;
            }
    }

    #search-bar{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";
        >div{
            grid-area: search;
            button{
                cursor: pointer;
            }
        }

    }

    nav{
        margin-left: auto;
        grid-template-columns: 50% auto;
        grid-template-areas: 
            "logo burger"
            "nav nav";
        align-content: center;
        ul{
            li{
                a{
                    color: black;
                }
            }
        }
    }
}


    #logo{
        grid-area: logo;
    }

    #burger-container{
        grid-area: burger;
    }

    nav{
        grid-area: nav;
    }
