/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: ". header ."

    #logo{
        grid-area: logo;
    }

    #burger-container{
        grid-area: burger;
    }

    nav{
        grid-area: nav;
    }

    @include md{
        grid-template-columns: 10% auto 10%;
    }

    @include xl{
        grid-template-columns: 16% auto 16%;
    }
    
    >div{
        display: auto;
        grid-area: header;
        text-align: center;

        #logo-nav{
            background-color: var(--dark-blue);
            max-width: auto;
            img{
    
            }
        }

        nav{
            margin-left: auto;
            grid-template-columns: 50% auto;
            grid-template-areas: 
                "logo burger"
                "nav nav";
            align-content: center;
            ul{
                li{
                    a{
                        color: black;
                    }
                }
            }
        }
    
        button{
            cursor: pointer;
        }
    }

    
}