/* =============
    Explore
============= */

#explore{
    display: grid;
    grid-template-columns: 16px auto;
    grid-template-areas: ". explore .";
    color: var(--white);

    >div{
        grid-area: explore;

        button{
            background-color: var(--magenta);
            color: var(--white);
            cursor: pointer;
            margin-top: 16px;
        }

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
        grid-template-columns: repeat(50%, auto);
    }

    @include xl {
        grid-template-columns: repeat(2, 1fr);
    }
    }
}