/* =============
    Headliners
============= */

#headliners{
    background-color: #601F8F;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". headliners .";

    >div{
        grid-area: headliners;
    }
}