/* =============
    Headliners
============= */

#headliners{
    background-color: #601F8F;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". headliners .";

    >div{
    grid-area: headliners;
    margin: 0
    padding 0;
    display: grid;
    gap: 0;

    @include md{
        grid-template-columns: repeat(2, 1fr);
    }

    @include xl{
        grid-template-columns: repeat(3, 1fr);
    }   
    }
}