/* =============
    Options
============= */

#options{
    text-align: center;

    display: grid;
    grid-template-columns: 0 auto 0;
    grid-template-areas: ". options .";
    
    >div{
        grid-area: options;
        display: grid;

        @include md {
            grid-template-rows: repeat(50%, 50%);
        }

        @include lg {
            grid-template-rows: repeat(50%, 50%);
        }
    
        @include xl {
            grid-template-rows: repeat(50%, 50%);
        }

        grid-area: options;
        button{
            color: white;
        }
        }
}