/* =============
    Promo
============= */

#promo{
    @media screen {
        min-width: 390px;
    }

    @include md {
        grid-template-columns: repeat(50% 50%);
    }

    >div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: ". promo .";
    }
}