/* =============
    Navigation
============= */

nav{
    ul{
        @include lg{
            display: block;
        }

        li{
            a:link, a:visited{
                padding: 24px 36px;
                color: black;
                border-radius: 6px;
                transition: 0.25s;
                font-family: 'Roboto', sans-serif;

                &:hover, &:active{
                    background-color: var(--dark-orange);
                    color: var(--white);
                }
            }
        }
    }
}

a{
    text-decoration: none;
}